.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .category {
    background-color: #fef0e6;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(216, 63, 63, 0.1);
    overflow: hidden;
    width: 280px;
    text-align: center;
    margin: 20px;
    transition: transform 0.5s;
  }
  
  .category:hover {
    transform: translateY(-10px);
  }
  
  .category-title {
    font-size: 1.5em;
    color: #1b1a1a;
    margin: 10px 0;
  }
  
  .category-image {
    width: 100%;
    height: auto;
  }