/* Footer */
footer {
  background-color: #ff7043;
  /* color: white; */
  padding: 1.5rem 1rem;
  /* text-align: center; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
  color: white;
  text-align: center;
  padding: 0;
}
