/* Navegación */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 1rem 0 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffe0b2;
}
