/* Estilo general de la tarjeta */
.recipe-card {
  border: 1px solid #ddd; /* Opcional: para mostrar el límite de cada tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para las tarjetas */
  overflow: hidden;
  transition: transform 0.3s;
}


.recipe-card-image {
  max-width: 80%;
  height: 200px;
  object-fit: cover;
  padding: 20px;
  /* border-bottom: 2px solid #eee; */
  /* padding-bottom: 30px; */
}
.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.recipe-card-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* Imagen de la receta */
.recipe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #eee;
  padding-bottom: 30px;
}

/* Contenido de la receta */
.recipe-content {
  padding: 20px;
}

/* Título de la receta */
.recipe-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Categoría de la receta */
.recipe-category {
  font-size: 1rem;
  color: #777;
  margin-bottom: 15px;
}

/* Lista de ingredientes */
.ingredients-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 15px;
}

.ingredients-list li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

/* Lista de pasos */
.steps-list {
  list-style-type: decimal;
  padding-left: 20px;
}

.steps-list li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.btn-favorite {
  background-color: transparent; 
  border: none; 
  cursor: pointer;
  padding: 0; 
  margin: 0;
  outline: none; 
}

.btn-favorite:focus {
  outline: none; 
}

.btn-favorite:hover {
  opacity: 0.8;
}
