/* Estilo general de la tarjeta */
.recipe-card {
  border: 1px solid #ddd;
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  transition: transform 0.3s;
}


.recipe-card-image {
  max-width: 80%;
  height: 200px;
  object-fit: cover;
  padding: 20px;
  /* border-bottom: 2px solid #eee; */
  /* padding-bottom: 30px; */
}
.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.recipe-card-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* Imagen de la receta */
.recipe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #eee;
  padding-bottom: 30px;
}

/* Contenido de la receta */
.recipe-content {
  padding: 20px;
}

/* Título de la receta */
.recipe-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Categoría de la receta */
.recipe-category {
  font-size: 1rem;
  color: #777;
  margin-bottom: 15px;
}

/* Lista de ingredientes */
.ingredients-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 15px;
}

.ingredients-list li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

/* Lista de pasos */
.steps-list {
  list-style-type: decimal;
  padding-left: 20px;
}

.steps-list li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.btn-favorite {
  background: none;
  border: none; 
  cursor: pointer;
  outline: none; 
  position: relative;
  width: 45px;
  height: 45px;
  font-size: 22px;
  color: #f9520f;
}

.btn-favorite:focus {
  outline: none; 
}

.btn-favorite:hover {
  opacity: 0.8;
}

.recipe-message {
  background-color: #4caf50; /* Verde para éxito */
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fade-in-out 2s ease;
}

/* Animación suave de entrada y salida */
@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}