#favorites {
    width: 100%;
    padding: 10px;
  } 
  
  .favorites-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columnas de igual ancho */
    gap: 20px; /* Espaciado entre tarjetas */
    padding: 20px; /* Espaciado alrededor del contenedor */
  }

.container-no-favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    font-size: 1.2rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}